@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background-color: rgb(0, 0, 0);
}
header{
	display: flex;
	align-items: center;
	padding: 20px;
}
header h1{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	margin-left: 20px;
}
header ul {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	margin-right: 20px;
}
header li {
	list-style: none;
}

header ul li a{
	justify-content: flex-end;
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
}
/* header ul li a:hover{
	justify-content: flex-end;
	text-decoration: none;
	color: orange;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
	transition: 0.5s;
} */
.wrapper{
	margin: 40px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.presentation{
	position: relative;
	font-size: 44px;
	color: rgb(57, 56, 56);
	width: 48.3%;
}
.presentation::before{
content: attr(data-text);
position: absolute;
color: orange;
width: 100%;
overflow: hidden;
white-space: nowrap;
border-right: 4px solid orange;
animation: animate 6s linear infinite;
filter: drop-shadow(0 0 60px orange) drop-shadow(0 0 10px orange);
}
@keyframes animate {
	0%,10%,100%{
		width: 0%;
	}
	70%,90%{
   width: 100%;
	}
}
.photo-profil{
	width: 250px;
	height: 270px;
	border-radius: 100%;
}
.a-propos {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
	        animation: track-texte 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes track-texte {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.a-propos h2 {
	color: white;
	font-family: 'Poppins', sans-serif;
}
.a-propos h2:hover {
	color: orange;
	font-family: 'Poppins', sans-serif;

}
.a-propos p{
	color: white;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5em;
}
.a-propos a{
	text-decoration: none;
	color: orange;
}
.a-propos a:hover{
	text-decoration: none;
	color: orange;
	text-decoration: underline;
}
.cv{
	display: flex;
	justify-content: flex-end;
	margin-right: 43%;
}
.boutton-cv {
	background-color: rgb(57, 56, 56);
	border: 1px solid orange;
	text-decoration: none;
	border-radius: 2ch;
	padding: 10px;
}
.boutton-cv a{
text-decoration: none;
color: white;
}
.boutton-cv a:hover{
color: orange;
text-decoration: none;
transition: 0.3s;
}
.big-competences{
	margin-top: 60px;
}
.titre-competences {
	color: orange;
	filter: drop-shadow(0 0 60px orange) drop-shadow(0 0 10px orange);
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	
}
.stack-competences{
	text-align: center;
	display: flex;
	justify-content: center;
}
.stack-competences h2{
	color: orange;
	filter: drop-shadow(0 0 60px orange) drop-shadow(0 0 10px orange);
	font-size: 32px;
	font-weight: bold;
}
.competences {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1;
}
.container .card {
	position: relative;
	width: 240px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}
.container .card .content{
	padding: 20px;
	text-align: center;
	/* SI TU VEUX FAIRE UNE ANIMATION HOVER enleve les commentaires dessus */
	/* transform: translateY(100px);
	opacity: 0; */
	/* transition: 0.5s; */
}
/* .container .card:hover .content{ */
	/* transform: translateY(0px);
	opacity: 1; */
/* } */
.container .card img{
	height: 100px;
	width: 100px;
	position: relative;
	z-index: -1;
	opacity: 0.5;
	pointer-events: none;
}
.container .card .content .javascript-logo{
	width: 200px;
	height: 110px;
	position: relative;
}
.container .card .content .photoshop{
position: relative;
	top: 10px;
}
.container .card .content .premier-pro{
	position: relative;
	top: 10px;
}
/* .container .card .content h2 {
	position: absolute;
	top: -60px;
	right: 30px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;
} */
.container .card .content h3 {
	font-size: 1.8em;
	color: white;
	z-index: 1;

}
.container .card .content p {
	font-size: 1em;
	color: white;
	font-weight: 300;
}
.container .card .content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: white;
	color: black;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.container .card .content .logo-social-media{
	display: flex;
	gap: 20px;
	margin: 10px;
	align-items: center;
	justify-content: center;
}
.container .card .content .logo-social-media img{
	gap: 20px;
	width: 60px;
	height: 60px;
}
h2{
	color: white;
}
p {
	color: white;
}
.container-parcours {
	display: flex;
	margin: 20px;
	padding-left: 100px;
	align-items: center;
	justify-content: space-between;
}
.container-parcours img{
width: 250px;
height: 250px;
margin-right: 100px;
}
.text-parcours{
	gap: 30px;
}
.text-parcours h2{
	font-size: 32px;
	color: orange;
	filter: drop-shadow(0 0 60px orange) drop-shadow(0 0 10px orange)
}
.text-parcours a {
	text-decoration: none;
	color: orange;
}
.text-parcours a:hover {
	text-decoration: none;
	color: orange;
text-decoration: underline;}
.container-projet {
	margin: 20px;
	margin-top: 60px;
}

/* .slide {
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	overflow: scroll;
	scroll-behavior: smooth;
} */
.ensemble-fleche {
	display: flex;
	margin: auto;
	align-items: center;
	gap: 30px;
}
.ensemble-fleche img{
	width: 100px;
	min-height: 100px;
	display: flex;
	margin: auto;
}
::-webkit-scrollbar{
	 display: none;
}
.carte {
	border: 1px solid whitesmoke;
	height: 200px;
	width: 600px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;
}
.carte0{
	background: url(pictures/Sunset.png);
	background-size: cover;
}
.carte1{
	background: url(pictures/artificiel.png);
	background-size: cover;
}
.carte2{
	background: url(pictures/Neymar-1.png);
	background-size: cover;
}
.carte3{
	background: url(pictures/ardentes.png);
	background-size: cover;
}
.carte4{
	background: url(pictures/Kekra-1.png);
	background-size: cover;
}
#slider {
	width: 1000px;
	height: 600px;
	overflow: hidden;
	display: flex;
	margin: auto;
	border-radius: 2ch;

}

.slide {
	width: 100%;
	height: 100%;

	
}

.image-responsive{
	width:100%;
}

.nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:60px;
	font-family:'Poppins', sans-serif;
	background-color:rgb(0, 0, 0);
	position:fixed;
	z-index:2;
	width:100%;
	transition:0.2s;
}


.logo{
	z-index:3;
}

.logo img{
	width:50px;
}

.menu-list {
	display: flex;
	width: 45%;
	justify-content: space-around;
	padding-right: 20px;
}

	.menu-list li {
					list-style: none;
	}

	.menu-list a {
					color: #fff;
					text-decoration: none;
					letter-spacing: 3px;
					font-weight: bold;
					font-size: 16px;
					transition: 0.2s;
					text-transform: uppercase;
	}

					.menu-list a:hover {
									color: orange;
									transition: 0.2s;
									text-decoration: underline;
					}

.menu div{
	width:25px;
	height:3px;
	margin:5px;
	background-color:#fff;
	z-index:3;
}

.menu{
	display:none;
}

@media screen and (max-width:1200px){
	.menu-list {
					width: 55%;
	}
}

@media screen and (max-width:1000px){
	.menu-list a {
					font-size: 14px;
	}
}

@media screen and (max-width:768px) {
	html, body {
					position: relative;
	}

	.menu-list {
					position: absolute;
					right: 0px;
					height: 400px;
					top: 60px;
					background-color: #000;
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					transform: translateY(-150%);
					transition: transform 0.5s ease-in;
					z-index: 1;
	}

					.menu-list li {
									opacity: 0;
					}

	.menu {
					display: block;
	}

	.nav {
					background-color: #000;
	}
}
	.nav-active{
					transform: translateX(0%);
	}

	@keyframes navReveal{
					from{
									opacity:0;
									transform: translateY(-50px);
					}
					to{
									opacity:1;
									transform: translateY(0px);
					}
	}

	.toggle .line1{
					transform: rotate(-45deg) translate(-5px, 6px);
	}

	.toggle .line2{
					opacity:0;
	}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.container{
	width:80%;
	margin:100px auto;
}

.container h1{
	margin-bottom:50px;
text-align:center;
}

.nav2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	font-family: 'Poppins', sans-serif;
	background-color: #000;
	position: fixed;
	z-index: 1;
	width: 100%;
	transition: 0.2s;
}

#mynav {
	top: 0px !important;
}
.boutton-precedent{
	background-color: orange;
	width: 100px;
	color: white;
	font-family: 'Poppins', sans-serif;
	padding: 10px;
	border-radius: 2ch;
	border: none;

}
.boutton-precedent a {
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.boutton-suivant{
	background-color: orange;
	color: white;
	width: 100px;
	font-family: 'Poppins', sans-serif;
	padding: 10px;
	border-radius: 2ch;
	border: none;
}
.boutton-suivant a {
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
}
.ensemble-boutton{
	display: flex;
	justify-content: center;
	margin: auto;
	gap: 50px;
	margin: 20px;
}

/* Contact */
.big-contact {
	margin-top: 40px;
	margin-bottom: 100px;
}
.container-contact{
	display: flex;
	gap: 40px;
	justify-content: center;
	margin-top: 40px;
}
.container-contact img{
width: 300px;
height: 300px;
border-radius: 100%;
}
.contact-texte{
	display: grid;
	align-items: center;
}
.contact-texte a{
text-decoration: none;
color: white;
}
.contact-texte a:hover{
	text-decoration: none;
	color: orange;
	transition: 0.3s;
	text-decoration: underline;
	}


	.content {
		position: relative;
	}
	
	.content h2 {
		color: #fff;
		font-size: 80px;
		position: absolute;
		transform: translate(-50%, -50%);
		
	}
	
	.content h2:nth-child(1) {
		color: transparent;
		-webkit-text-stroke: 2px orange;
		filter: drop-shadow(0 0 60px orange) drop-shadow(0 0 10px orange);

	}
	
	.content h2:nth-child(2) {
		color: orange;
		animation: animate 4s ease-in-out infinite;
		
	}
	
	@keyframes animate {
		0%,
		100% {
			clip-path: polygon(
				0% 45%,
				16% 44%,
				33% 50%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%
			);
		}
	
		50% {
			clip-path: polygon(
				0% 60%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%
			);
		}
	}
	